<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:META-INF/spring/*.bean.xml
			classpath*:app-config.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>io.servicecomb.transport.rest.servlet.RestServletContextListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>RestServlet</servlet-name>
		<servlet-class>io.servicecomb.transport.rest.servlet.RestServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>